<div class="container main-layout">
  <div class="card" style="width: 30rem;">
    <h5 class="card-title text-center my-5">URL Shortener</h5>
    <img
      src="../img/ExportedContentImage_00.png"
      class="inline-center"
      id="main-img"
      alt="URL Shortener logo"
    />
    <form method="post" action="/shorten">
      <div class="card-body" id="url-generation">
        <div class="input-group mb-3">
          <input
            type="text"
            name="originalUrl"
            class="form-control"
            placeholder="Input URL here"
            aria-label="Input URL here"
            aria-describedby="basic-addon2"
          />
        </div>
        <div class="text-center">{{message}}</div>
        <div class="d-grid gap-2 col-3 mx-auto">
          <button type="submit" class="btn btn-outline-primary">Shorten</button>
        </div>
      </div>
    </form>
  </div>
</div>